<div class="row">
  <h1>{{pelicula.title}}</h1>
</div>

<div class="row">
  <div class="fondo">
  <div class="col-md-4 col-md-offset-2 col-sd-12">
    <img src="https://image.tmdb.org/t/p/w250_and_h141_bestv2{{pelicula.backdrop_path}}" alt="" class="thumbnail">
  </div>
  <div class="col-md-4 col-sd-12">
    <h2><span class="label label-default">Sinopsis</span></h2>
    <p>{{pelicula.overview}}</p>
    <h2><span class="label label-default">Ranking</span></h2>
    <div class="rank"><p>{{pelicula.vote_average}}</p></div>
    <div [class.rateHide]="voter">
      <input type="text" #vote class="form-control">
      <button class="btn btn-default" type="submit" (click)="Rate(vote.value)">Vote</button>
    </div>
      <div *ngIf="voter">
      <div class="voteOk"><img src="/home/emanuel/Documentos/TTADS/Tp 1/tp1ttads/app/front/tp1/src/app/movie-detail/ok.png" alt=""><p>OK</p></div>
      </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">Comentarios</div>
          <div class="panel-body" *ngFor="let review of movieReviews.results">
           <h3>{{review.author}}</h3>
           <p>{{review.content}}</p>
           <hr>
          </div>
    </div>
  </div>
</div>
